.grid {
    height: 256px;
    width: 256px;
    display: flex;
    flex-wrap: wrap;
    border: solid 10px black;
}

.grid div {
    height: 16px;
    width: 16px;
    border: solid 0px white;
}

.apple {
    background-image: url('images/appleimg.png');
    background-size: 13px;
    background-repeat: no-repeat;
}

.snake {
    background-color: brown;
}

.head {
    background-color: pink;
}

button {
    background-color: transparent;
}

button:focus {
    outline: none;
}

.controls {
    margin-left: 75;
    margin-top: 10px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.controls button {
    border-radius: 20%;
    width: 70px;
    height: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
